<table border="1">
  <thead>
    <th colspan="2">
      Variables
    </th>
    <th colspan="2">
      Links
    </th>
  </thead>
  <tr>
    <td>Baseurl</td><td><pre>{{site.baseurl}}</pre></td>
    <td>href: /css/main.css</td><td><a href="/css/main.css">css file</a></td>
  </tr>
  <tr>
    <td>Basepath</td><td><code>{{site.basepath}}</code></td>
    <td>href: css/main.css</td><td><a href="css/main.css">css file</a></td>
  </tr>
  <tr>
    <td>Url</td><td><a href="{{site.url}}">{{site.url}}</a></td>
    <td>href: '/css/main.css' | prepend: site.baseurl</td><td><a href="{{ '/css/main.css' | prepend: site.baseurl}}">css file</a></td>
  </tr>
  <tr>
    <td></td><td></td>
    <td>href: 'css/main.css' | prepend: site.baseurl</td><td><a href="{{ 'css/main.css' | prepend: site.baseurl}}">css file</a></td>
  </tr>
</table>
